{% extends 'home/base.html' %}
{% block content %}
  <form class="" action="{% url 'accounts:login' %}" method="post">
     {% csrf_token %}
   <div class="form-group center" >
     <div class="row">
       <div class="col-sm-3">
         <label >UserName</label>
         <input type="text" class="form-control" name="UserName" placeholder="UserName" maxlength="20">
         <label >Password</label>
         <input type="text" class="form-control" name="Password" placeholder="Password" type="password">
         <br>
         <input type="submit" >
       </div>
        <div class="col-sm-9">

        </div>
     </div>
   </div>
   </form>
{% endblock %}
